.save-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.save {
    padding: 12px;
    cursor: pointer;
    margin-bottom: 32px;
}

.hovered {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.customers-filter {
    display: flex;
}

.filter-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 6px;
}

.filter-checkbox {
    width: 100%;
    height: 100%;
    margin-left: 5px;
}

.filter-text {
    margin: 0px 8px;
}

.customer-item {
    padding: 5px;
}

.customer-item:nth-child(even) {
    background-color: #ebe2e2;
}

.customer-item:nth-child(odd) {
    background-color: #ffffff;
}

.group.total {
    margin-top: 12px;
}